<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle><strong>Daniel's</strong> esteve aqui!</ion-card-subtitle>
      <ion-card-title>Olá!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Desenvolver app's é divertido, mas é bem trabalhoso. Te desafio a desenvolver este simples aplicativo!</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Made by Daniel's</ion-title>
  </ion-toolbar>
</ion-footer>