<ion-header>
  <ion-toolbar>
    <ion-title>
      Créditos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Link do Projeto</ion-label>
    </ion-list-header>
    <ion-item href="hhttps://github.com/viduedo/app-galeria-fotos">
      <ion-icon slot="start" color="medium" name="logo-github"></ion-icon>
      <ion-label>Aplicativo: Galeria de Fotos</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Made by Daniel's</ion-title>
  </ion-toolbar>
</ion-footer>